@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f0e1;
    color:#1e3d59;
    font-family: 'Raleway', sans-serif;
    font-weight: 590;
}
.container{
    margin-left:5%;
    margin-top: 12%;
}
.head{
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom:5%;
}
.section{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.side-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.side-bar h1{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 2%;
    text-decoration: none;
    font-weight: 800;
}
.side-bar p{
    font-size: 1rem;
    text-transform: capitalize;
}
.description{
    width: 150%;
    margin-right: 30%;
    line-height: 1.5;
}